body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color:black;
    color:white;
}
#marquee-color{
    background-image: linear-gradient(blue, cyan);
    border-radius: 10px 10px 0px 0px;
    color:black;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#h3{
    color:blue;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
}
.first-section{
    background-image:url(images/shapes/Group\ 8446.png);
    background-repeat: no-repeat;
}
.about{
    background-image: url(images/shapes/7.png);
    background-position:  left top;
    background-repeat: no-repeat;
}
#middle-text{
    text-align: center;
}
.recipie-item{
    background-color:orange;
    color:black;
    width: 25%;
    margin: 3%;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 25px rgba(0, 255, 255, 0.664);
    
}
.image-item{
    width: 99%;
    border-radius: 15px;
}
.bottom-section{
    text-align: center;
    margin: 7%;
    width: auto;
    height: 220px;
    padding: 2px 3px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 255, 255, 0.664);
}
#icon-size{
    width: 25%;
}
footer{
    background-color:whitesmoke;
    text-align: center;
    color: black;
    padding: 10px;
    
}
footer p{
    color: red;
}